@import 'swiper/swiper-bundle.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

.swiper-pagination {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #CCCCCC; 
  margin: 0 8px;
}

.swiper-pagination-bullet-active {
  background-color: #C92071;
}

.logo-svg {
  width: 138px;
  height: 24px;
}

@media (min-width: 450px) {
  .logo-svg {
    width: 253px;
    height: 44px;
  }
}

@media (max-width: 770px) {
  .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper {
    padding-bottom: 60px;
  }
}

@media (min-width: 770px) {
  .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper {
    padding-bottom: 80px;
  }
}

@media (min-width: 850px) and (max-width: 1024px) {
  .hero-height {
    height: 800px !important;
  }
}

